In [2]:
# Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

In [3]:
# Exercise 3: Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
# Exercise 10 - Insert a markdown cell to list Objectives

**Objectives:**

- Learn several languages that used by Data scientists
- Learn several useful tools that can be adopted in data science job
- Handful practices for some tools like Jupyter notebook and R studio

In [ ]:
# Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

In [4]:
# Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. SQL
3. Pandas

In [5]:
# Exercise 6 - Create a markdown cell with a table of Data Science tools

|Data Science Tools|
|----|
|Jupyer Notebook|
|VSstudio|
|Rstudio|

In [6]:
# Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
# Exercise 8 - Create a code cell to multiply and add numbers

In [8]:
# This a simple arithmetic expression to mutiply then add integers
Ans = (3*4)+5

In [10]:
print(Ans)

17

In [ ]:
# Exercise 9 - Create a code cell to convert minutes to hours

In [11]:
# This will convert 200 minutes to hours by diving by 60.

Mins = 200
Hours = Mins/60
print(Hours)

3.3333333333333335

In [ ]:
# Exercise 11 - Create a markdown cell to indicate the Author's name

## Author

Shen Chang